form {
    display: inline-block;
    background-color: #008a8a;
    border-radius: 6px;
    margin: 20px 0 40px 0;
    padding: 20px;
    width: 760px;
    text-align: center;
}
form label {
    margin: 5px;
    margin-right: 20px;
    font-size: 15px;
    float: left;
    font-family: 'Courier New', Courier, monospace;
}
form fieldset {
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    margin: auto;
    border: none;
    text-align: right;
}
form input[type=button] {
    display: inline-block;
    padding: 10px 20px;
    border-width: 0px;
    margin-top: 20px;
    background-color: #4fc7a4;
    border-radius: 8px;
    font-size: 1.2em;
    height: max-content;
    font-weight: bold;
    cursor: pointer;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}